body { background-color: #000000; }

.row {
  float: left;
  width: 100%;
  clear: both;
}
#game-holder {
  // display: inline-block;
  float: left;
  width: 512;
  height: 480;
}

#game-debug {
  // display: inline-block;
  float: left;
  width: 300px;
  height: 384px;
}
// canvas { background-color: #444444; }


#dev-ui {
  ul.toggles {
    list-style: none;

    li {
      cursor: pointer;
    }
    li.enabled {
      color: white;
    }
  }
}

ul.list {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
  li {
    border-left: 7px solid #777;
    border-bottom: 2px solid #777;
  }
  // border-bottom: 2px solid #777;
}
table.map {
  color: white;
  border-spacing: 1px;
  font-size: 12px;
  th.mapKey {
    cursor: pointer;
    text-align: right;
    background: #ccc;
    color: #000;
    vertical-align: top;
    padding: 0px;
    padding-right: 5px;
    padding-left: 5px;
    margin: 0px;
  }
  td.mapValue {
    vertical-align: top;
    padding: 0px;
    margin: 0px;
  }
}

.component-inspector {
  .inspector-header {
    cursor: pointer;
    color: #ccc;
    background-color: #333;
    font-weight: bold;
    border: solid 1px #ccc;
  }

  .entity {
    border: solid 1px white;
    .entity-header {
      cursor: pointer;
      color: white;
    }

    .component {
      color: white;
      font-size: 10pt;
      border-top: 1px solid gray;

      .component-header {
        cursor: pointer;
        .component-type {
          font-weight: bold;
        }
        .component-cid {
          color: gray;
        }
      }
      .component-props {
        width: 100%;
        .prop-name {
          color: #ccc;
          width: 100px;
          text-align: right;
          vertical-align: top;
        }
        .prop-value {
          background-color: #222;
        }
      }
    }
  }
}

.component-search-box {
  .query {
    width: 290px;
  }
  .searchResults {
    font-size: 10px;
    background-color: white;
    color: black;
    height: 200px;
    width: 290px;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
  }

}

.history-controls {
  font-size: 10pt;
  .control {
    width: 100px;
    padding: 5px;
    cursor: pointer;
  }
}
.history-meter {
  border: 1px solid gray;
  height: 10px;
  .history-meter-fill {
    background-color: #333;
    height: 10px;
  }
}
